@keyframes ldio-efwur8kqh3c {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-efwur8kqh3c div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-efwur8kqh3c linear 3.571428571428571s infinite;
  background: #df1317;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}
.ldio-efwur8kqh3c div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -3.2738095238095233s;
  background: #df1317;
}
.ldio-efwur8kqh3c div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -2.976190476190476s;
  background: #df1317;
}
.ldio-efwur8kqh3c div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -2.6785714285714284s;
  background: #df1317;
}
.ldio-efwur8kqh3c div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -2.380952380952381s;
  background: #df1317;
}
.ldio-efwur8kqh3c div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -2.083333333333333s;
  background: #df1317;
}
.ldio-efwur8kqh3c div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -1.7857142857142856s;
  background: #df1317;
}
.ldio-efwur8kqh3c div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -1.488095238095238s;
  background: #df1317;
}
.ldio-efwur8kqh3c div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -1.1904761904761905s;
  background: #df1317;
}
.ldio-efwur8kqh3c div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.8928571428571428s;
  background: #df1317;
}
.ldio-efwur8kqh3c div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.5952380952380952s;
  background: #df1317;
}
.ldio-efwur8kqh3c div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.2976190476190476s;
  background: #df1317;
}
.ldio-efwur8kqh3c div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #df1317;
}
.loadingio-spinner-spinner-fv7gdz8yyx {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-efwur8kqh3c {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-efwur8kqh3c div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
