@import "./../../scss/varibals";
@import "./../../scss/mixins";

.item-details-wrap {
    transition: all 0.4s;

    @include for-phone-only {
        position: absolute;
        top: 0;
        z-index: 10;
        background-color: #fff;
        transition: all 0.4s;

        &.open {
            left: 0
        }

        &.close {
            left: 100vw;
        }
    }




    [data-colors="btn-mint"] {
        color: #ffffff;
        background-color: $color-mint;

        &:hover {
            color: $color-darkblue;
        }
    }

    .img-wrap {
        padding: 10px 0;

        img {
            max-width: 100%;
        }
    }

    .item-detail-row-1 {
        margin-bottom: 10px;
    }

    .item-detail-row-2 {
        @extend .item-detail-row-1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 5px;
        width: 100%;

        .flex-tem {
            width: 50%;
        }

    }

    .map-link-block {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .map-link-block {
        height: 100%;
        display: flex;
        align-items: center;
        text-align: right;
        justify-content: flex-end;

        a {
            color: inherit;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .item-header-wrap {
        background-color: #F5F5F5;
        min-height: 64px;
        padding: 10px 0;


        .item-header {
            display: flex;
            align-items: center;

            .beack-link {
                a {

                    color: rgba(0, 0, 0, 0.87);
                    padding: 6px 16px;
                    font-size: 0.875rem;
                    min-width: 64px;
                    box-sizing: border-box;
                    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                    font-weight: 500;
                    line-height: 1.75;
                    border-radius: 4px;
                    letter-spacing: 0.02857em;
                    text-transform: uppercase;
                    border: 0;
                    cursor: pointer;
                    margin: 0;
                    display: inline-flex;
                    outline: 0;

                    position: relative;
                    align-items: center;
                    user-select: none;
                    border-radius: 0;
                    vertical-align: middle;
                    -moz-appearance: none;
                    justify-content: center;
                    text-decoration: none;
                    background-color: transparent;
                    -webkit-appearance: none;
                    -webkit-tap-highlight-color: transparent;

                    &:hover {
                        text-decoration: none;
                        background-color: rgba(0, 0, 0, 0.08);
                    }
                }
            }
        }
    }

    // .MuiContainer-root {
    //     @include for-phone-only {
    //         padding: 15px;
    //     }
    // }
}