.main-naw {
    header {
        background-color: #f5f5f5;
    }

    .MuiToolbar-root {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;


    }

    .MuiContainer-root {
        padding-left: 0px;
        padding-right: 0px;
    }

    .logo-wrapp {
        display: inline-block;
        width: 150px;

        img {
            width: 100%;
        }
    }
}